<!------------------------------------ SECCIÓN DE INFORMACIÓN DE LA PÁGINA, CON HISTORIA Y TODO ----------------------------------->
<section class="probootstrap-section" id="about">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50">
        <h4 class="sub-heading">About</h4>
        <h2 class="heading">La historia de nuestra compañía</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <figure>
            <img src="./static/img/about.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com" class="img-responsive img-rounded">
          </figure>
        </div>
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae enim labore doloribus aut sunt praesentium vitae tempora asperiores. At quia ad corrupti in blanditiis iste velit, rem impedit quae, dolor doloremque. Nesciunt, nihil minima! Architecto excepturi dicta cum amet obcaecati?</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus id iste voluptate quam nostrum omnis.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate magnam rem, incidunt exercitationem atque error repudiandae tenetur omnis fuga ex voluptate pariatur aliquam ea ab ipsa sed non natus eius?</p>
        </div>
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam libero alias magni facere cumque inventore corrupti ad porro fuga eius!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque excepturi, qui illum culpa expedita non nobis dicta voluptates quod praesentium fugit quisquam inventore accusantium? Blanditiis.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN DE SECCIÓN DE INFORMACIÓN DE LA EMPRESA-->