<!------------------------------------ SECCIÓN DE INFORMACIÓN DE LA PÁGINA, CON HISTORIA Y TODO ----------------------------------->
<section class="probootstrap-section" id="about">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50">
        <h4 class="sub-heading">About</h4>
        <h2 class="heading">Un poco de historia</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <figure>
            <img src="./static/img/about.jpg" alt="Free HTML5 Bootstrap Template by uicookies.com" class="img-responsive img-rounded">
          </figure>
        </div>
        <div class="col-md-6">
          <p ALIGN="justify">Muchos de los personajes más ilustres que se dedicaron a investigar, desarrollar y poner en práctica el extenso 
            campo de la medicina, ya no están entre nosotros. Por suerte nos dejaron un amplio legado a través de libros y documentos. 
            Sin sus investigaciones no hubiera sido posible descubrir las numerosas terapias naturales que, a lo largo de la historia, 
            fueron mejorando la salud de la humanidad. Estos sabios estudiaron y observaron el funcionamiento de nuestro organismo. 
            Nos dejaron textos para que aprendiéramos a defendernos contra la enfermedad. Gracias a ello podemos acceder los conocimientos 
            que se utilizaban en el pasado con un alto porcentaje de éxito. </p>

          <p ALIGN="justify">Estar sano se convirtió en una meta difícil. No se engañen: consumir un medicamento es necesario cuando estamos enfermos, especialmente en casos graves. 
              Las claves para decirle "no" a la enfermedad  nos las dieron los sabios que, a lo largo de miles de años, nos dejaron grandes 
              testamentos medicinales para aplicar durante nuestros días de vida.
          </p>

          <p ALIGN="justify">La medicina natural o terapéutica pretende conseguir el alivio, prevención y sanación de las enfermedades por medio de los productos que provienen
             directamente de la naturaleza; sin síntesis y con escasa o nula manipulación. “La medicina natural cuenta con la ventaja de estudiar la salud como un 
             equilibrio mental y orgánico, de manera que entiende al hombre y su salud como un todo”, así la define Roberto Abitbol, de la Asociación de Terapias 
             Naturales y No Convencionales (Cofenat).</p>
        
        </div>
        <div class="col-md-6">
          <p ALIGN="justify">De momento existe aún demasiado vacío legal y estudios pertinentes para hacer de lo natural una medicina regulada. </p>
          
          <p ALIGN="justify">La medicina alternativa o natural no busca reemplazar la medicina tradicional, sino complementarla. Por años ha sufrido desprestigio 
            por parte de la comunidad científica clasificando de charlatanes a quienes se dedican a ella, la cual tiene mucho que ver con la acción 
            preventiva y que a veces permanece en la sombra o está oculta por diferentes razones. En algunas ocasiones ignoramos o no somos conscientes 
            de lo que nos podría aportar y los grandes beneficios que nos puede ofrecer para poder vivir más y en mejores condiciones. 
          </p>

          <p ALIGN="justify">Las personas dedicadas a la medicina natural tienen fe en el poder de la naturaleza y que el equilibrio entre cuerpo, alma y 
            espíritu es esencial para vivir en salud y en paz.
          </p>

          <p ALIGN="justify">La naturaleza siempre fue bondadosa y nos otorgó beneficios de distintas formas: alimento, nuestro principal sustento, y plantas naturales 
            para cuidar nuestra salud. El color verde es el que más representa los testamentos de la medicina. Los sitios donde más abunda este color son 
            aquellos donde hay más oxígeno, con lo cual es donde abunda la vida. El verde es el principal responsable de que el ser vivo y la especie humana 
            puedan estar presentes en este momento. 
          </p>

          <p ALIGN="justify">Conseguir la salud eterna es, quizás, más fácil de lo que parece. En el profundo interior de nuestra 
            naturaleza se encuentra nuestro medio de vida y bienestar.
          </p>

        </div>
      </div>
    </div>
  </section>
  <!-- FIN DE SECCIÓN DE INFORMACIÓN DE LA EMPRESA-->