 <!------------------------------Beneficios y conceptos iniciales--------------------------> 
 <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <!--probootstrap-animate es una clase para que se carguen animadamente mientras vas viendo la pagina-->
        <!--data-animate-effect="fadeIn" es tambien un efecto-->
        
        {% for benefit in benefits %}
        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
            <figure><img src="{{benefit.image}}" alt="{{benefit.title}}" class="img-responsive"></figure>
            <div class="text">
              <h2 class="heading">{{benefit.title}}</h2>
              <p>{{benefit.description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div> <!-- Fin fila-->
    </div> <!-- Fin contenedor-->
  </section>   
  <!-- Fin Conceptos iniciales-->