<div class="floating-chat">
    <i class="matrial-info">Bot</i>
    <div class="chat">
        <div class="header">
            <span class="title">
                ¡Interactúa con nosotros!
            </span>
            <button>
                <i class="fa fa-times" aria-hidden="true">-</i>
            </button>
                         
        </div>
        <ul class="messages">
            <li class="other"> Bienvenidos a L&L Company. Somos todo en medicinas naturales. ¿Cómo podemos ayudarte?</li>
        </ul>
        <div class="footer">
            <div class="text-box" contenteditable="true" disabled="true"></div>
            <button id="sendMessage">enviar</button>
        </div>
    </div>
</div>