<footer class="probootstrap-footer probootstrap-bg" style="background-image: url(../static/img/slider_3.jpg)">
    <div class="container">

      <!-- Info sobre los proveedores de productos-->
      <div class="row mb60">
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Nuestros Proveedores</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Quae sapiente tempora quod. Eum autem cupiditate tempora 
              illo voluptatibus dignissimos quos?</p>
          </div> 
        </div>

        <!-- Links de interés -->
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Links de Interés</h4>
            <ul class="stack-link">
              <li><a href="#">Lorem, ipsum.</a></li>
              <li><a href="#">Lorem ipsum dolor sit.</a></li>
              <li><a href="#">Lorem, ipsum dolor.</a></li>
              <li><a href="#">Lorem ipsum dolor sit.</a></li>
            </ul>
          </div>
        </div>

        <!--Nuestros productos-->
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Productos</h4>
            <ul class="stack-link">
              <li>Organic Fruits</li>
              <li>Organic Vegeables</li>
              <li>Non-GMO Products</li>
              <li>Locally Grown Products</li>
            </ul>
          </div>
        </div>

        <!--Suscripción, email-->
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Suscríbete</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eligendi..</p>
            <form action="#">
              <div class="form-field">
                <input type="text" class="form-control" placeholder="Ingresa tu email">
                <button class="btn btn-subscribe"><i class="icon-arrow-long-right"></i></button>
              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="row copyright">
        <!--Propiedad, derechos de autor-->
        <div class="col-md-6">
          <div class="probootstrap-footer-widget">
            <p>&copy; 2017 <a href="https://uicookies.com/">uiCookies:Green</a>. 
               Designed by <a href="https://uicookies.com/">uicookies.com</a>. <br>
              Propiedad de Jesús Ruíz y Génova Castillo
            </p>
          </div>
        </div>

        <!-- Íconos de Redes sociales-->
        <div class="col-md-6">
          <div class="probootstrap-footer-widget right">
            <ul class="probootstrap-footer-social">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--FIN FOOTER-->
  </footer>