<footer class="probootstrap-footer probootstrap-bg" style="background-image: url(../static/img/footer.jpg)">
    <div class="container" id="contact"> 

      <!-- Info sobre los proveedores de productos-->
      <div class="row mb60">
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Nuestros Proveedores</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Quae sapiente tempora quod. Eum autem cupiditate tempora 
              illo voluptatibus dignissimos quos?</p>
          </div> 
        </div>

        <!-- Links de interés -->
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Links de Interés</h4>
            <ul class="stack-link">
                <li><a href="https://www.quo.es/salud/g31732/medicina-natural-funciona/">¿Funciona la Medicina Natural?</a></li>
                <li><a href="https://ecoosfera.com/2012/11/medicina-natural-plantas-y-frutos-que-deberias-tener-en-tu-botiquin-alternativo/">Siempre tener en casa</a></li>
                <li><a href="https://mindfit.club/medicina-natural/">Medicina natural</a></li>
                <li><a href="https://es.aleteia.org/2017/05/05/la-medicina-naturista-es-efectiva/">¿Es efectiva la medicina natural?</a></li>
            </ul>
          </div>
        </div>

        <!--Nuestros productos-->
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Productos</h4>
            <ul class="stack-link">
              <li>Organic Fruits</li>
              <li>Organic Vegeables</li>
              <li>Non-GMO Products</li>
              <li>Locally Grown Products</li>
            </ul>
          </div>
        </div>

        <!--Suscripción, email-->
        <div class="col-md-3">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">Redes sociales</h4>
            <ul class="probootstrap-footer-social">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </div>

        <!-- Fin de la fila-->
      </div>

      <div class="row copyright">
        <!--Propiedad, derechos de autor-->
        <div class="col-md-6">
          <div class="probootstrap-footer-widget">
            <p>Diseño de <a href="https://uicookies.com/">uiCookies:Green &copy; 2017</a>.<br>
              Propiedad de Jesús Ruíz y Génova Castillo
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--FIN FOOTER-->
  </footer>