
      <!--IMÁGENES DE NUESTROS PRODUCTOS-->
  <section class="probootstrap-section" id="products">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50">
        <h4 class="sub-heading">Imágenes de nuestros productos</h4>
        <h2 class="heading">Mira y explora!</h2>
      </div>
      <div class="row">
        <!-- INICIO DE LA FILA-->
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
              <a href="{{ product.image }}" class="image-popup">
                <img src="{{ product.image }}" class="img-responsive img-rounded" alt="{{ product.description }}">
              </a>
            <div class="text">
              <h2 class="heading">{{ product.name }} - {{ product.price }} Bs</h2>
              <p>{{ product.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        
 <!-- FIN DE LA SECCIÓN DE LA GALERÍA-->
      </div>
    </div>
  </section>  
