<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>L&L Medicines | Home</title>
 
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/styles-merged.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <!--<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>-->
  </head>

  <body>

  <!-- Imagen de cargando -->
  <div class="probootstrap-loader"></div>

  <!-- START: header -->
  <header role="banner" class="probootstrap-header">
    <div class="container">
      <!-- Título arriba a la izquierda-->
        <a href="index.html" class="probootstrap-logo">L&L Company<span></span></a>
        
        <!-- Este menu se muestra cuando la pantalla es muy pequeña-->
        <a href="#" class="probootstrap-burger-menu visible-xs" >
          <i>Menu</i>
        </a>
        <div class="mobile-menu-overlay"></div>

        <!-- Menú superior que lleva a las otras páginas-->
        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Sobre nosotros</a></li>
            <li class="active"><a href="gallery.html">Galería</li>
            <li><a href="contact.html">Contacto</a></li>
          </ul>         
        </nav>
    </div>
  </header>
  <!-- END: header -->
  
      <!-- Sección del Título principal con un slider de imágenes -->
      <section class="probootstrap-slider flexslider">
          <div class="probootstrap-text-intro">
              <div class="container">
                <div class="row"> <!--Fila-->
                  <div class="col-md-10 col-md-offset-1">
                    <div class="probootstrap-slider-text text-center">
                      <!--Título principal-->
                      <h1 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">Productos</h1>
                      <!-- Eslogan del título-->
                      <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium, doloribus magni fugiat voluptatem pariatur. <br>
                      </div>
                    </div>
                  </div>
                </div> <!-- Fin fila-->
              </div> <!-- Fin contenedor-->
            </div>
        <!-- Fondos del slider del título principal-->
        <ul class="slides">
            <li style="background-image: url(./static/img/slider_1.jpg);"></li>
            <li style="background-image: url(./static/img/slider_2.jpg);"></li>
            <li style="background-image: url(./static/img/slider_4.jpg);"></li>
          </ul> 
        <!-- Fin de Sección del Título principal -->
      </section>
      <!-- END: slider  -->

      <!--IMÁGENES DE NUESTROS PRODUCTOS-->
  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50">
        <h4 class="sub-heading">Imágenes de nuestros productos</h4>
        <h2 class="heading">Mira y explora!</h2>
      </div>
      <div class="row">
        <!-- INICIO DE LA FILA-->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
              <a href="./static/img/slider_1.jpg" class="image-popup">
                <img src="./static/img/slider_1.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com">
              </a>
            <div class="text">
              <h2 class="heading">Prevenir antes que curar</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsum dolorem voluptas asperiores obcaecati quasi!</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
              <a href="./static/img/slider_2.jpg" class="image-popup">
                <img src="./static/img/slider_2.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com">
              </a>
            <div class="text">
              <h2 class="heading">Prevenir antes que curar</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsum dolorem voluptas asperiores obcaecati quasi!</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
              <a href="./static/img/slider_3.jpg" class="image-popup">
                <img src="./static/img/slider_3.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com">
              </a>
            <div class="text">
              <h2 class="heading">Prevenir antes que curar</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsum dolorem voluptas asperiores obcaecati quasi!</p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="product-item">
              <a href="./static/img/slider_3.jpg" class="image-popup">
                <img src="./static/img/slider_3.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com">
              </a>
            <div class="text">
              <h2 class="heading">Prevenir antes que curar</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsum dolorem voluptas asperiores obcaecati quasi!</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
                <a href="./static/img/slider_1.jpg" class="image-popup">
                  <img src="./static/img/slider_1.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com">
                </a>
              <div class="text">
                <h2 class="heading">Prevenir antes que curar</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsum dolorem voluptas asperiores obcaecati quasi!</p>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
                <a href="./static/img/slider_2.jpg" class="image-popup">
                  <img src="./static/img/slider_2.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com">
                </a>
              <div class="text">
                <h2 class="heading">Prevenir antes que curar</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsum dolorem voluptas asperiores obcaecati quasi!</p>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
                <a href="./static/img/slider_3.jpg" class="image-popup">
                  <img src="./static/img/slider_3.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com">
                </a>
              <div class="text">
                <h2 class="heading">Prevenir antes que curar</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsum dolorem voluptas asperiores obcaecati quasi!</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
                <a href="./static/img/slider_4.jpg" class="image-popup">
                  <img src="./static/img/slider_4.jpg" class="img-responsive img-rounded" alt="Free Bootstrap Template by uicookies.com">
                </a>
              <div class="text">
                <h2 class="heading">Prevenir antes que curar</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsum dolorem voluptas asperiores obcaecati quasi!</p>
              </div>
            </div>
          </div>

        
 <!-- FIN DE LA SECCIÓN DE LA GALERÍA-->
      </div>
    </div>
  </section>  

  <!-- Separador del medio-->
  <section class="probootstrap-section probootstrap-bg" style="background-image: url(./static/img/separator.jpg);">
    <div class="container text-center">
      <h2 class="heading">Nuestros servicios</h2>
      <p class="sub-heading">
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi exercitationem facilis quis architecto laborum accusamus odit porro, aperiam minima deleniti.
      </p>
    </div>
  </section>

  <!-- Sección bajo el separador del medio con los servicios que ofrecemos-->
  <section class="probootstrap-section">
    <div class="container">
      <!--Primera fila-->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-leaf"></i></div>
            <h2 class="heading">Fitoterapia</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quisquam.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-hand"></i></div>
            <h2 class="heading">Efecto placebo</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quisquam. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Naturales mejor</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quisquam.</p>
          </div>
        </div>
 
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Dónde estamos</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quisquam. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
          <div class="service">
            <div class="icon"><i class="icon-water"></i></div>
            <h2 class="heading">Terapias</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quisquam. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-air"></i></div>
            <h2 class="heading">Nuestro objetivo</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quisquam. </p>
          </div>
        </div>

      </div> <!-- Fin de fila-->
    </div> <!-- Fin de contenedor -->
  </section>

 <!-- FOOTER-->
 <footer class="probootstrap-footer probootstrap-bg" style="background-image: url(./static/img/slider_4.jpg)">
  <div class="container">

    <!-- Info sobre los proveedores de productos-->
    <div class="row mb60">
      <div class="col-md-3">
        <div class="probootstrap-footer-widget">
          <h4 class="heading">Nuestros Proveedores</h4>
          <p>Los productos con los que elaboramos nuestras medicinas son manipulados por los profesionales en el área</p>
        </div> 
      </div>

      <!-- Links de interés -->
      <div class="col-md-3">
        <div class="probootstrap-footer-widget">
          <h4 class="heading">Links de Interés</h4>
          <ul class="stack-link">
            <li><a href="https://www.quo.es/salud/g31732/medicina-natural-funciona/">¿Funciona la Medicina Natural?</a></li>
            <li><a href="https://ecoosfera.com/2012/11/medicina-natural-plantas-y-frutos-que-deberias-tener-en-tu-botiquin-alternativo/">Siempre tener en casa</a></li>
            <li><a href="https://mindfit.club/medicina-natural/">Medicina natural</a></li>
            <li><a href="https://es.aleteia.org/2017/05/05/la-medicina-naturista-es-efectiva/">¿Es efectiva la medicina natural?</a></li>
          </ul>
        </div>
      </div>

      <!--Nuestros productos--> <!-- FALTA POR COMPLETAR-->
      <div class="col-md-3">
        <div class="probootstrap-footer-widget">
          <h4 class="heading">Servicios</h4>
          <ul class="stack-link">
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem, ipsum dolor.</li>
          </ul>
        </div>
      </div>

      <!-- Íconos de Redes sociales-->
      <div class="col-md-3">
        <div class="probootstrap-footer-widget">
          <h4 class="heading">Redes sociales</h4>
          <ul class="probootstrap-footer-social">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-instagram2"></i></a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row copyright">
      <!--Propiedad, derechos de autor-->
      <div class="col-md-6">
        <div class="probootstrap-footer-widget">
          <p>Diseño de <a href="https://uicookies.com/">uiCookies:Green</a> &copy; 2017. <br>
            Propiedad de Jesús Ruíz y Génova Castillo
          </p>
        </div>
      </div>
    </div>

  </div>
  <!--FIN FOOTER-->
</footer>

<!-- SCRIPTS-->
<script src="./static/js/scripts.js"></script>
<script src="./static/js/main.js"></script>
<script src="./static/js/custom.js"></script>

  </body>
</html>