<header role="banner" class="probootstrap-header">
    <div class="container">
      <!-- Título arriba a la izquierda-->
        <div class="left">
          <img src="static/img/Logo.jpg" class="img-responsive img-rounded">
        </div>
        <a href="#" class="probootstrap-logo">L&L Drugs.</a>
        
        <!-- Este menu se muestra cuando la pantalla es muy pequeña-->
        <a href="#" class="probootstrap-burger-menu visible-xs" >
          <i>Menu</i>
        </a>
        <div class="mobile-menu-overlay"></div>

        <!-- Menú superior que debería llevar a otras páginas-->
        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#about">Sobre nosotros</a></li>
            <li><a href="#products">Galería</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul> 
        </nav>
    </div>
  <!-- END: header -->
  </header>
