<header role="banner" class="probootstrap-header">
    <div class="container">
      <!-- Título arriba a la izquierda-->
        <a href="index.html" class="probootstrap-logo">L&L Drugs.</a>
        
        <!-- Este menu se muestra cuando la pantalla es muy pequeña-->
        <a href="#" class="probootstrap-burger-menu visible-xs" >
          <i>Menu</i>
        </a>
        <div class="mobile-menu-overlay"></div>

        <!-- Menú superior que debería llevar a otras páginas-->
        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <!-- TO-DO: en vez de hacer más plantillas HTML hacer otras secciones con esta informacion-->
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="about">Sobre nosotros</a></li>
            <li><a href="gallery">Galería</a></li>
            <li><a href="contact">Contacto</a></li>
          </ul> 
        </nav>
    </div>
  <!-- END: header -->
  </header>
