<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>L&L Company</title>
 
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/styles-merged.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <!--Ícono de la pestaña del navegador-->
    <link rel="icon" type="imagen/jpg" href="static/img/icon.jpg">
  </head>

  <body>

  <!-- Imagen de cargando -->
  <div class="probootstrap-loader"></div>

  <!---------------------------------- ENCABEZADO ----------------------------------->
  {% include "header.html" %}

  <!----------- Sección del Título principal con un slider de imágenes -------------->
  {% include "principal_title.html" %}

  <!---------------------------Beneficios y conceptos iniciales----------------------> 
  {% include "beneficios.html" %}

  <!----------------- SECCIÓN DE INFORMACIÓN DE LA PÁGINA, CON HISTORIA Y TODO ------>
  {% include "about.html" %}
  
  <!-------------------- SECCIÓN DE LOS INTEGRANTES DEL EQUIPO----------------------->
  {% include "team.html" %}

  <!--------------------------- Separador del medio---------------------------------->
  {% include "separator.html" %}

  <!-------------------- Sección de Terapias naturales generales -------------------->
  {% include "therapies.html" %}

  <!----------------------------------------- CHAT ---------------------------------->
  {% include "chat.html" %}

  <!-----------------------------------Galería de productos-------------------------->
  {% include "gallery.html" %}
 
  <!-- End Body-->
  </body>

  <!------------------------------------------ FOOTER-------------------------------->
  {% include "footer.html" %}

  <!-- SCRIPTS-->
  <script src="./static/js/scripts.js"></script>
  <script src="./static/js/main.js"></script>
  <script src="./static/js/custom.js"></script>
  
 
</html>