<section class="probootstrap-slider flexslider">
    <div class="probootstrap-text-intro">
      <div class="container">
        <div class="row"> <!--Fila-->
          <div class="col-md-10 col-md-offset-1">
            <div class="probootstrap-slider-text text-center">
              <!--Título principal-->
              <h1 class="probootstrap-heading probootstrap-animate mb20" data-animate-effect="fadeIn">100% Natural</h1>
              <!-- Eslogan del título-->
              <div class="probootstrap-animate probootstrap-sub-wrap mb30" data-animate-effect="fadeIn">
                Tener buena salud no es un tesoro. <br>El verdadero tesoro es saber conservarla.<br>
              </div>

              <!-- Botón que debería invocar al chat-->
              <p class="probootstrap-animate" data-animate-effect="fadeIn">
                <a id="chat" class="btn btn-ghost btn-ghost-white">Pregúntanos lo que quieras!</a>
              </p> <!-- Fin botón-->
            </div>
          </div>
        </div> <!-- Fin fila-->
      </div> <!-- Fin contenedor-->
    </div>

    <!-- Fondos del título principal-->
     <ul class="slides">
      <li style="background-image: url(../static/img/slider_1.jpg);"></li>
      <li style="background-image: url(../static/img/slider_2.jpg);"></li>
      <li style="background-image: url(../static/img/slider_3.jpg);"></li>
    </ul> 
  <!-- Fin de Sección del Título principal -->
  </section>
