  <!----------------------- Separador del medio-------------------------------------------------->
  <section class="probootstrap-section probootstrap-bg" style="background-image: url(./static/img/separator.jpg);">
    <div class="container text-center">
      <h2 class="heading">Tu cuerpo es tu templo.</h2>
      <p class="sub-heading">
        Buscamos crear conciencia y reforzar la capacidad innata del cuerpo de mantener un buen estado de salud. <br>
        El concepto de medicina natural no solo se basa en conseguir una cura a la enfermedad, <br> 
        sino que es una idea más amplia, es todo un estilo de vida saludable que gira en torno a lo natural.
      </p>
    </div>
  </section>