  <!---------------------------------------- Sección de Terapias naturales generales ------------------------------------------>
  <section class="probootstrap-section">
    <div class="container">
      <!--Primera fila-->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-leaf"></i></div>
            <h2 class="heading">Fitoterapia</h2>
            <p>La fitoterapia consiste en el tratamiento de enfermedades a través de las especies vegetales y sus derivados.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-hand"></i></div>
            <h2 class="heading">¿Efecto placebo?</h2>
            <p>Los síntomas mejoran con una sustancia sin efectos directamente relacionados al tratamiento.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-tree"></i></div>
            <h2 class="heading">Naturales mejor</h2>
            <p>Aprovecha los productos y recursos que nos brinda la naturaleza, más para la prevención que para el tratamiento.</p>
          </div>
        </div>
      </div> <!-- Fin primera fila-->

      <!--Segunda fila -->
      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-location"></i></div>
            <h2 class="heading">Dónde estamos</h2>
            <p>Nuestro local se ubica en la Avenida Las Américas, CC Chilemex, Puerto Ordaz, edo. Bolívar, Venezuela.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
          <div class="service">
            <div class="icon"><i class="icon-water"></i></div>
            <h2 class="heading">Terapias naturales</h2>
            <p>Terapias alternativas o complementarias a tratamientos convencionales, orientadas a mejorar la salud.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="service">
            <div class="icon"><i class="icon-air"></i></div>
            <h2 class="heading">Nuestro objetivo</h2>
            <p>Esta corriente médica busca que el cuerpo recupere su equilibro con alternativas naturales.</p>
          </div>
        </div>

      </div> <!-- Fin de fila-->
    </div> <!-- Fin de contenedor -->
  </section>